.form {
  padding: 10px;
}

.form__label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  width: 385px;
  background: #ffffff;
  border: 1px solid #838383;
  box-sizing: border-box;
  padding: 15px 20px;
  font: inherit;
  margin-bottom: 32px;
}

.form__button {
  width: 385px;
  background: #1878dc;
  color: #ffffff;
  font-size: 18px;
  padding: 20px 0;
  border: none;
}

.form__button:hover {
  background-color: #3f96f3;
  /* transition: 0.7s; */
  transition: transform 1s ease-in-out;
}

.form__fieldset {
  border: none;
  padding: 0;
}

.form__input[type="checkbox"] {
  border-radius: 4px;
  width: 20px;
  height: 20px;
  margin-bottom: 0%;
}

.form__input::placeholder {
  color: #838383;
}

.form__label {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.form__label[for="terms"] {
  display: flex;
  gap: 12px;
  padding-bottom: 0;
  margin-bottom: 0;
}
