.reservation {
  padding: 100px 0 120px 0;
  background: #d9e7ff url("../images/background_reservation.svg") no-repeat
    center/cover;
}

.reservation__title {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
  margin-bottom: 80px;
}

.reservation__form {
  margin: auto;
  max-width: 385px;
}
